
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.inter-fonts{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* default / shared styles  */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    margin: 0 auto;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
p{
    font-size: 1rem;
    font-weight: 300;
    color: #FFFFFF;
}
.bg-dark{
    background-color: #1A0B2E;
}
.bg-light{
    background: rgba(35, 14, 61, 1);
}
.btn{
    border-radius: 10000px;
background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
font-size: 1rem;
font-weight: 500;
padding: 12px 16px;
display: flex;
gap: 10px;
}
.section-title{
    font-size: 3rem;
    font-weight: bold;

}
/* shared style end  */

/* header style start  */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.logo h3{
    font-size: 2rem;
    font-weight: 600;
}
.wave{background: linear-gradient(90deg, #e9de63, #FB09B4,#9100F8); /* gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.nav-menu{
    display: flex;
    gap: 2rem;
    font-size: 1rem;

}
.humberger{
    display: none;
}
.hero{
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* max-height: 760px; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.hero-microphone{
    background-image: url("./assets/hero-circle.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 125px;
    /* margin-top: -150px; */
    position: relative;
}
.hero-microphone img{
    max-width: 100%;
}
#new{
        padding: 10px 16px;
    color: #1A0B2E;
    background-color: #00FF88;
    position: absolute;
    top: 7%;
    right: 12%;
    border-radius: 1000px;
    font-size: 18px;
    font-weight: 500;
box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
background: var(--#00FF88, rgba(0, 255, 136, 1));
}
.hero-content{
    text-align: center;
}
.hero-content h1{
    font-size: 4rem;
    font-weight:bolder;
}
.hero-btn{
    display: flex;
    gap: 10px;
    padding-bottom: 50px;
}
.spotify img{
    max-width: 20px;
    max-height: 20px;

}
.spotify{
    padding: 12px 20px;
    align-items: center;
}
.subscribe-btn{
    padding: 12px 20px;
    align-items: center;
    display: flex;
    gap: 10px;
    columns: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 1000px;
}
/* podcast style start  */

.podcast-section{
    padding-top: 50px;
}
.podcast-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    padding-bottom: 80px;
}
.down-p {
    margin-bottom: 20px;
    padding: 0px 250px;
}
.podcast-down{
   display: grid;
    /* flex-direction: row; */
     grid-template-columns: repeat(4, 1fr); 
     gap: 80px;
     text-align: center;
}
.podcast-down{
    padding:80px 0 120px 0;
}
.p-box h2{
    font-size: 3rem;
    font-weight: bold;
    color: #00FF88;
}
.choose-padding{
    padding-top: 120px;
    padding-bottom: 120px;
}
.choose-grid-sec{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:225px 225px 273px; ;
    gap: 30px;

}
.bg-grid{
background: #FFFFFF;
border-radius: 40px;
background: rgba(53, 17, 101, 0.4);

}
.grid-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}
.mb-10{
    margin-bottom: 40px;
}
.grid-gap-16{
display: grid;
    gap: 16px;
}
.sidebar{
    grid-row: span 2;
    padding: 107px 40px;
    
}
.main-top{
    grid-column: span 2;
    padding: 40px;
}
.main-down{
    grid-column: span 2;
    padding: 40px;
}
.left-side-footer{
    grid-column: span 2;
    padding: 40px;
}
.right-side-footer{
    padding: 40px;
}
.grid-img{
    max-width: 100%;
    margin: 0;
}
.featured-box-container{
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
.featured-section{
    padding: 120px 10px;
}
.featured-video{
    border-radius: 24px;
}
.featured-content{
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 24px;
}
.vedio-duration{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;

}
.clock{
    width: 20px;
    height: 20px;
    color: #00FF88;
}
.duration{
    color: #00FF88;
}
.grid-title{
    margin-bottom: 0;
}
.host-profile{
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 50px 40px;
    
}
.host-section{
    padding-bottom: 120px;
}
.host-content{
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    max-width: 896px;
}
.mb-40{
    margin-bottom: 40px;
}
.name{
    font-size: 32px;
    font-weight: bold;
}
.host-img img{
    max-width: 100%;
}
.social-links{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.social-link img{
    width: 20px;
    height: 20px;
    max-width: 100%;
}
.social-link{
    width: 40px;
    height: 40px;
    /* box-sizing: border-box; */
border: 1px solid rgba(83, 60, 114, 1);
padding: 10px;
border-radius: 50%;

}

.footer{
    background-image: url("./assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;

}
.footer-container{
    max-width: 1600px;
    padding: 120px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.footer-title {
    font-size: 60px;
    font-weight: bold;

}
.footer-social-links{
    display: flex;
    gap: 40px;
}
.footer-link-box{
    display: flex;
    gap: 10px;
}
.footer-link-box img{
    width: 100%;
    width: 24px;
    height: 24px;
}

@media screen and (max-width:576px) {
    .menu{
        display: none;
    }
    .nav-button{
        display: none;
    }
    .nav{
padding: 20px;
    }
    .section-title {
    font-size: 2rem;
}

.podcast-top {
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    gap: 0;
}
.humberger{
    display: block;
}
.down-p {
    margin-bottom: 5px;
    padding: 20px;
}
.p-box h2 {
    font-size: 40px;
}
.podcast-down {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 40px;
}
.choose-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}
.choose-grid-sec {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
}
.sidebar,.main-top,.main-down,.left-side-footer,.right-side-footer{
    padding: 24px;
}
.featured-box-container{
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
}
.featured-video iframe{
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.featured-video {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 ratio */
}
.grid-title {
    font-size: 20px;
}
.width-400{
    width: 400px;
    height: 225px;
}
.name {
    font-size: 24px;
}
    .host-profile {
    gap: 16px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.social-links {
    justify-content: center;
}
    .footer-title {
    font-size: 48px;

}
    .footer-social-links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
}
.footer-container{
    padding: 20px;
}
}
@media screen and (min-width:576px) and (max-width:992px) {
    .nav{
padding: 30px;
}
    .podcast-down {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 40px;
}
.featured-box-container{
    flex-direction: column;
    /* flex-wrap: wrap; */
    padding-right: 20px;
    padding-left: 20px;
}
.featured-video iframe{
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.featured-video {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 ratio */
}
.grid-title {
    font-size: 20px;
}
.down-p{
    padding: 0 30px;
}
p{
    padding:0 30px;
}
.choose-grid-sec {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
}
.footer-social-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}


}