
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.inter-fonts{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
}
body{
    /* max-width: 1600px; */
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    margin: 0 auto;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
p{
    font-size: 1rem;
    font-weight: 300;
    color: #FFFFFF;
}
.bg-dark{
    background-color: #1A0B2E;
}
.bg-light{
    background: rgba(35, 14, 61, 1);
}
.btn{
    border-radius: 10000px;
background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
font-size: 1rem;
font-weight: 500;
padding: 12px 16px;
display: flex;
gap: 10px;
}
.section-title{
    font-size: 3rem;
    font-weight: bold;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.logo h3{
    font-size: 2rem;
    font-weight: 600;
}
#wave{background: linear-gradient(90deg, #e9de63, #FB09B4,#9100F8); /* gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* For Firefox */
  /* background-clip: text; */
  /* color: transparent; */
}
.nav-menu{
    display: flex;
    gap: 2rem;
    font-size: 1rem;

}
.hero{
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* max-height: 760px; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.hero-mircophone{
    background-image: url("./assets/hero-circle.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 125px;
    /* margin-top: -150px; */
    position: relative;
}
.hero-mircophone img{
    max-width: 100%;
}
#new{
        padding: 10px 16px;
    color: #1A0B2E;
    background-color: #00FF88;
    position: absolute;
    top: 7%;
    right: 12%;
    border-radius: 1000px;
    font-size: 18px;
    font-weight: 500;
box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
background: var(--#00FF88, rgba(0, 255, 136, 1));
}
.hero-content{
    text-align: center;
}
.hero-content h1{
    font-size: 4rem;
    font-weight:bolder;
}
.hero-btn{
    display: flex;
    gap: 10px;
    padding-bottom: 50px;
}
.spotify img{
    max-width: 20px;
    max-height: 20px;

}
.spotify{
    padding: 12px 20px;
    align-items: center;
}
.subscribe-btn{
    padding: 12px 20px;
    align-items: center;
    display: flex;
    gap: 10px;
    columns: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 1000px;
}
.podcast-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    padding-bottom: 80px;
}
.down-p{
    margin-bottom:20px;
    
}
.podcast-down{
   display: grid;
    /* flex-direction: row; */
     grid-template-columns: repeat(4, 1fr); 
     gap: 80px;
     text-align: center;
}
.podcast-down{
    padding:80px 0 120px 0;
}
.p-box h2{
    font-size: 3rem;
    font-weight: bold;
    color: #00FF88;
}
.choose-padding{
    padding-top: 120px;
    padding-bottom: 120px;
}
.choose-grid-sec{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(3, 1fr) ;
    gap: 30px;

}
.p-box{

}
.bg-grid{
    border-radius: 40px;
/* background: rgba(53, 17, 101, 0.4); */
background: #FFFFFF;
border-radius: 40px;
background: rgba(53, 17, 101, 0.4);

}
.grid-title{
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
}
.mb-10{
    margin-bottom: 40px;
}
.sidebar{
    grid-row: span 2;
    padding: 107px 40px;
}
.main-top{
    grid-column: span 2;
    padding: 40px;
}
.main-down{
    grid-column: span 2;
    padding: 40px;
}
.left-side-footer{
    grid-column: span 2;
    padding: 40px;
}
.right-side-footer{
    padding: 40px;
}
.grid-img{
    max-width: 100%;
}